*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    height: 100vh;
    background-color: orangered;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px 1fr 80px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: green;
    grid-column: 1 / -1;
}

.box-2 {
    background-color: grey;
}

.box-3 {
    background-color: yellow;
}

.box-4 {
    background-color: gold;
}

.footer {
    background-color: saddlebrown;
    grid-column: 1 / -1;
}

.box-6 {
    background-color: teal;
}

button {
    width: 150px;
    height: 48px;
    margin: 24px auto;
    background-color: green;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
}

img {
    width: 250px;
    height: 250px;
}